asgiref>=3.11,<4
certifi>=2023.7,<2024
cffi>=1.15,<2
charset-normalizer>=3.4,<4
cryptography>=46.0,<47
defusedxml>=0.7,<1
Django>=5.2.11,<5.3
django-debug-toolbar>=6.2,<7
django-filter>=25.2,<26
djangorestframework>=3.16,<3.17
djangorestframework-simplejwt>=5.5,<5.6
djoser>=2.3,<2.4
drf-nested-routers>=0.95,<1
drf-yasg>=1.21,<1.22
idna>=3.11,<4
inflection>=0.5,<0.6
oauthlib>=3.3,<4
packaging>=23.1,<24
psycopg2-binary>=2.9,<3
pycparser>=2.21,<3
PyJWT>=2.11,<3
python-decouple>=3.8,<4
python3-openid>=3.2,<4
pytz>=2023.3,<2024
PyYAML>=6.0,<7
requests>=2.32,<3
requests-oauthlib>=2.0,<3
social-auth-app-django>=5.7,<6
social-auth-core>=4.8,<5
sqlparse>=0.5,<1
typing_extensions>=4.15,<5
tzdata>=2023.3,<2024
uritemplate>=4.2,<5
urllib3>=2.6,<3
whitenoise>=6.11,<7